%h2== Welcome to Watchman, #{current_user.email}
-if @status_record.active?
  %div.status{:style=>"background-color:green;color:white;width:300px;padding:5px;font-weight:bold;"} Watchman is Active
-else
  %div.status{:style=>"background-color:red;color:white;width:300px;padding:5px;font-weight:bold;"} Watchman is Down
%br

#my_subscriptions{:style=>"border: 1px solid black;padding:10px;width:300px;"}
  %h2 My current subscriptions
  -current_user.subscriptions.each do |name|
    .subscription= name
    =button_to "Remove","/cancel_subscription/#{name}"
%br
=form_tag subscriptions_path do
  =select_tag 'apparatus', options_for_select(Apparatus.county)
  =submit_tag "subscribe"  
%br
#my_day_subscriptions{:style=>"border: 1px solid black;padding:10px;width:300px;"}
  %h2 My daytime subscriptions (8am - 10pm)
  -current_user.day_subscriptions.each do |name|
    .subscription= name
    =button_to "Remove","/cancel_day_subscription/#{name}"
%br
=form_tag day_subscriptions_path do
  =select_tag 'apparatus', options_for_select(Apparatus.county)
  =submit_tag "subscribe"
%br
= button_to "Send me a test SMS",test_message_path
%br
.comm_types{:style=>"border: 1px solid black;width:300px;padding:25px;"}
  %h3 I'm currently receiving calls by:
  %b SMS:
  = current_user.is_sms_subscriber ? "Yes" : "No"
  %br
  %b Email:
  = current_user.is_email_subscriber ? "Yes" : "No"
  %br
  %br
  = link_to "Change preferences",edit_preferences_path
%br
%br
%br
= link_to "logout",destroy_user_session_path